@charset "UTF-8";
body {
  background-image: url("https://vk.com/doc226246374_670490366");
}

:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #e4e1ff;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #445da7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

select {
  border-style: none;
  outline: none;
  /* Ширина селекта */
  width: 200px;
  /* Высота селекта */
  height: 40px;
  /* Цвет фона селекта */
  background-color: #5a67f4;
  /* Цвет текста селекта */
  color: #ffffff;
  /* Размер и стиль шрифта селекта */
  font-size: 16px;
  font-family: Arial, sans-serif;
  /* Отступы внутри селекта */
  padding: 10px;
  /* Граница селекта */
  border: none;
  /* Скругление углов селекта */
  border-radius: 10px;
  /* Стиль стрелки селекта */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23333333" viewBox="0 0 16 16"><path d="M7.247,11.14,2.451,5.658A.785.785,0,0,1,3.106,4.5H12.894a.785.785,0,0,1,.655,1.158Z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  cursor: pointer;
  transition: 0.3s ease;
  grid-column: 1/2;
  grid-row: 4/5;
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
}
select:hover {
  color: var(--white);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark);
}
select:focus {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}

/* Стили для опций селекта */
select option {
  /* Цвет фона опций */
  background-color: #5a67f4;
}

/* Стили для выбранной опции селекта */
select option:checked {
  /* Цвет фона выбранной опции */
  background-color: #3d46a7;
}

.duo-container {
  display: flex;
  padding: 10px;
  justify-content: center;
}
.duo-container label {
  /* Ширина метки */
  width: 200px;
  /* Высота метки */
  height: 40px;
  /* Цвет фона метки */
  background-color: #3d46a7;
  /* Цвет текста метки */
  color: #333333;
  /* Размер и стиль шрифта метки */
  font-size: 16px;
  font-family: Arial, sans-serif;
  /* Отступы внутри метки */
  /* Граница метки */
  border: none;
  /* Скругление углов метки */
  border-radius: 10px 0px 0px 10px;
  /* Выравнивание текста метки */
  text-align: center;
  color: #ffffff;
}
.duo-container input[type=number] {
  /* Ширина поля ввода */
  width: 200px;
  /* Высота поля ввода */
  /* Цвет фона поля ввода */
  background-color: #5a67f4;
  /* Цвет текста поля ввода */
  color: #ffffff;
  /* Размер и стиль шрифта поля ввода */
  font-size: 16px;
  font-family: Arial, sans-serif;
  /* Отступы внутри поля ввода */
  /* padding: 0px 10px 10px 0px; */
  /* Граница поля ввода */
  border-style: none;
  outline: none;
  /* Скругление углов поля ввода */
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  cursor: pointer;
  transition: 0.3s ease;
  grid-column: 1/2;
  grid-row: 4/5;
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark);
  color: var(--greyLight-1);
}
.duo-container input[type=number]:hover {
  color: var(--white);
}
.duo-container input[type=number]:focus {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}

/*  BUTTONS  */
button {
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  cursor: pointer;
  transition: 0.3s ease;
  grid-column: 1/2;
  grid-row: 4/5;
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
  font-size: 1.1rem;
}
button:hover {
  color: var(--white);
}
button:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}/*# sourceMappingURL=L4.css.map */