.container {
    margin: 1rem 0px 0px 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.output-container {
    width: 60%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}